<div class="main-container">
  <h1>Color Memory</h1>
  <div class="shade-picker">
    <div  class="color-shade">
      <div *ngIf="colorShadeVisible" class="shade" [style.backgroundColor]="systemRgbString()">
        <div class="answer" *ngIf="showAnswer">
          <p>R:{{systemColor.red}} G:{{systemColor.green}} B:{{systemColor.blue}}</p>
        </div>
      </div>
    </div>

    <div class="color-picker-container">
      <div class="color-preview" [style.backgroundColor]="rgbString()">
        {{ `R:${this.userColor.red} G:${this.userColor.green}  B:${this.userColor.blue}` }}
      </div>


      <div class="sliders">
        <label>
          <div class="slider-wrapper">
            R:
            <input type="range" min="0" max="255" [(ngModel)]="userColor.red" class="red-slider">
            <span class="value-label">{{ userColor.red }}</span>
          </div>
        </label>

        <label>
          <div class="slider-wrapper">
            G:
            <input type="range" min="0" max="255" [(ngModel)]="userColor.green" class="green-slider">
            <span class="value-label">{{ userColor.green }}</span>
          </div>
        </label>

        <label>
          <div class="slider-wrapper">
            B:
            <input type="range" min="0" max="255" [(ngModel)]="userColor.blue" class="blue-slider">
            <span class="value-label">{{ userColor.blue }}</span>
          </div>
        </label>
      </div>


    </div>
  </div>


  <div class="buttons">
    <button (click)="showNewColorShade()" [disabled]="!newColorButton">New Color</button>
    <button (click)="compareColorShades()" [disabled]="!quizMode || colorShadeVisible">Compare</button>
  </div>
</div>
