<div class="main-container">
  <h1>Color Memory</h1>
  <div class="shade-picker">
    <div class="color-shade">
      <div *ngIf="colorShadeVisible" class="shade" [style.backgroundColor]="systemRgbString()">
        <div class="answer-preview" *ngIf="showAnswer">
          <p class="rgb-code" [style.color]="systemColor.previewTextColor">R:{{systemColor.red}} G:{{systemColor.green}}
            B:{{systemColor.blue}}</p>
        </div>
      </div>

      <div *ngIf="!colorShadeVisible" class="shade" [style.backgroundColor]="'#ffffff'">
        <div class="answer-preview" *ngIf="showAnswer">
          <p class="rgb-code" [style.color]="systemColor.previewTextColor">R:{{systemColor.red}} G:{{systemColor.green}}
            B:{{systemColor.blue}}</p>
        </div>
      </div>
    </div>

    <div class="color-picker-container">
      <div class="color-preview" [style.backgroundColor]="rgbString()">
        <p class="rgb-code" [style.color]="userColor.previewTextColor">{{ `R:${this.userColor.red}
          G:${this.userColor.green} B:${this.userColor.blue}` }}</p>
      </div>


      <div class="sliders">
        <label>
          <div class="slider-wrapper">
            R:
            <input type="range" min="0" max="255" [(ngModel)]="userColor.red" class="red-slider"
              [disabled]="showAnswer">
            <span class="value-label">{{ userColor.red }}</span>
          </div>
        </label>

        <label>
          <div class="slider-wrapper">
            G:
            <input type="range" min="0" max="255" [(ngModel)]="userColor.green" class="green-slider"
              [disabled]="showAnswer">
            <span class="value-label">{{ userColor.green }}</span>
          </div>
        </label>

        <label>
          <div class="slider-wrapper">
            B:
            <input type="range" min="0" max="255" [(ngModel)]="userColor.blue" class="blue-slider"
              [disabled]="showAnswer">
            <span class="value-label">{{ userColor.blue }}</span>
          </div>
        </label>
      </div>


    </div>
  </div>

  <div class="similarity-container">
    <div *ngIf="showAnswer">
      {{colorSimilarity}} % Match
    </div>
  </div>



  <div class="buttons">
    <button (click)="showNewColorShade()" [disabled]="!newColorButton">New Color</button>
    <button (click)="compareColorShades()" [disabled]="!quizMode || colorShadeVisible">Compare</button>
  </div>
</div>