/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
  background-color: #f8fafc
}


.inter-<uniquifier> {
          font-family: "Inter", sans-serif;
          font-optical-sizing: auto;
          font-weight: <weight>;
          font-style: normal;
        }
